# cat /etc/systemd/system/dhclient.service 
[Unit]
Description=dhclient on all interfaces
Wants=network.target
Before=network.target

[Service]
ExecStart=/usr/bin/dhclient -4 -q

[Install]
WantedBy=multi-user.target
