# cat /etc/systemd/system/dhclient.service 
[Unit]
Description=dhclient on all interfaces
Wants=network-online.target set-time.service
After=network.target network-online.target set-time.service
DefaultDependencies=no

[Service]
Type=forking
ExecStart=/sbin/dhclient -4 -q

[Install]
WantedBy=multi-user.target
