[Unit]
Description=set time per npdate
Requires=dbus.service
Before=multi-user.target
After=dbus.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/set_time
RemainAfterExit=yes 

[Install]
WantedBy=multi-user.target
