# cat /etc/systemd/system/dhclient.service 
[Unit]
Description=dhclient on all interfaces
Requires=network-online.target

[Service]
ExecStart=/sbin/dhclient -4 -q
Type=forking

[Install]
WantedBy=multi-user.target
