[Unit]
Description=set time per timedatectl
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/local/bin/set_time 

[Install]
WantedBy=multi-user.target
